<div class="text-center">
  <a href="https://www.facebook.com/mymobilo" class="btn-social btn-social-outline btn-facebook me-2">
    <i class="mdi mdi-facebook fs-4"></i>
  </a>
  <a href="https://x.com/mymobilo" class="btn-social btn-social-outline btn-twitter me-2">
    <i class="mdi mdi-twitter fs-4"></i>
  </a>
  <a href="https://www.youtube.com/@MyMobilo" class="btn-social btn-social-outline btn-youtube me-2">
    <i class="mdi mdi-youtube fs-4"></i>
  </a>
  <a href="https://www.instagram.com/mymobilo.co/" class="btn-social btn-social-outline btn-instagram me-2">
    <i class="mdi mdi-instagram fs-4"></i>
  </a>
</div>