<nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
  <!-- Menu -->
  <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
  <!-- Button -->
  <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
    data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="fe fe-menu"></span>
  </button>
  <!-- Collapse navbar -->
  <div class="collapse navbar-collapse" id="sidenav">
    <div class="navbar-nav flex-column">
      <span class="navbar-header">Account Settings</span>
      <!-- List -->
      <ul class="list-unstyled ms-n2 mb-0">
        <!-- Nav item -->
        <li class="nav-item active">
          <a class="nav-link" href="<%= edit_user_registration_path %>"><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fe fe-user nav-icon"></i>Security</a>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fe fe-refresh-cw nav-icon"></i>Social Profiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fe fe-bell nav-icon"></i>Notifications</a>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fe fe-lock nav-icon"></i>Profile Privacy</a>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <%= link_to cancel_account_path, class: "nav-link" do %>
            <i class="fe fe-trash nav-icon"></i>Delete Profile
          <% end %>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fe fe-user nav-icon"></i>Linked Accounts</a>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <%= button_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
          <i class="fe fe-power nav-icon"></i>Sign Out
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>