<!-- <div class="container" style="min-height: 100px;">
	<label for="productSearch">Search for a Product:</label>
	<input type="text" id="productSearch">
	<select id="productSelect">

	</select>
</div> -->

<form id="product1Form">
  <label>Select Product 1:</label>
  <input type="text" id="product1Search">
  <select id="product1Select">
    <!-- Options for Product 1 -->
  </select>
</form>

<form id="product1Form">
  <label>Select Product 2:</label>
  <input type="text" id="product2Search">
  <select id="product2Select">
    <!-- Options for Product 1 -->
  </select>
</form>

<button id="compareButton">Compare</button>

<div id="comparisonResult">
  <!-- Comparison results will be displayed here -->
  <div id="product1-results">
	  
	</div>

	<div id="product2-results">
	  
	</div>
</div>