<nav class="navbar-vertical navbar">
    <div class="vh-100" data-simplebar>
         <!-- Brand logo -->
         <a class="navbar-brand" href="<%= root_path %>">
             <img src="/assets/mobilo.png" alt="" >
         </a>
         <!-- Navbar nav -->
         <ul class="navbar-nav flex-column" id="sideNavbar">
             <li class="nav-item">
               <a class="nav-link" href="<%= shopkeepers_dashboard_path %>"
                  aria-expanded="false" aria-controls="navDashboard">
                 <i class="nav-icon fe fe-home me-2"></i> Dashboard
               </a>
             </li>

             <li class="nav-item">
                 <a class="nav-link  collapsed " href="#"
                     data-bs-toggle="collapse" data-bs-target="#navCourses" aria-expanded="false"
                     aria-controls="navCourses">
                     <i class="nav-icon fe fe-book me-2"></i> Shop Management
                 </a>
                 <div id="navCourses" class="collapse "
                     data-bs-parent="#sideNavbar">
                     <ul class="nav flex-column">
                        <% if current_user.shopkeeper? %>
                          <li class="nav-item">
                            <a class="nav-link" href="<%= new_shopkeeper_shop_path %>">New Shop</a>
                          </li>
                        <% end %>
                     </ul>
                 </div>
             </li>
             <!-- Nav item -->
             <li class="nav-item">
                 <a class="nav-link  collapsed " href="#"
                     data-bs-toggle="collapse" data-bs-target="#navAuthentication" aria-expanded="false"
                     aria-controls="navAuthentication">
                     <i class="nav-icon fe fe-lock me-2"></i> Authentication
                 </a>
                 <div id="navAuthentication" class="collapse "
                     data-bs-parent="#sideNavbar">
                     <ul class="nav flex-column">
                         <li class="nav-item">
                             <a class="nav-link "
                                 href="../../pages/forget-password.html">
                                 Forget Password
                             </a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link  "
                                 href="../../pages/dashboard/notification-history.html">
                                 Notifications
                             </a>
                         </li>
                     </ul>
                 </div>
             </li>
         </ul>
    </div>
</nav>
