<div class="table-responsive" bis_skin_checked="1">
  <table class="table mb-2">
    <tbody>
      <tr>
        <td>Price in Pakistan</td>
        <td>Rs. 40,999/- </td>
      </tr>
    </tbody>
  </table>
</div>









<ul class="nav nav-lb-tab mb-6 bg-gray-200 px-5 rounded-3 " id="pills-tab" role="tablist">
              <!-- nav item -->
  <li class="nav-item ms-0" role="presentation">
    <a class="nav-link active" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true">Development </a>
  </li>
</ul>